#### Import modules

In [1]:
import os
import pandas as pd
import pickle

Read state codes mapping file:

In [2]:
name_to_code = []

with open(os.getcwd() + '/Data/name_to_code.pickle', 'rb') as pckl:
    name_to_code = pickle.load(pckl)
    
pckl.close()

name_to_code['Massachusetts']

'MA'

### States

#### Read data file

In [3]:
states_cases = pd.read_csv(os.getcwd() + '/Data/us-states.csv')
states_cases.shape

(33494, 5)

In [4]:
states_cases.tail()

             date          state  fips   cases  deaths
33489  2021-10-31       Virginia    51  924771   13907
33490  2021-10-31     Washington    53  727820    8686
33491  2021-10-31  West Virginia    54  272532    4426
33492  2021-10-31      Wisconsin    55  882618    9416
33493  2021-10-31        Wyoming    56  102926    1174

In [5]:
# pd.Series(states_cases['state'].unique()).sort_values()
states_cases['state'].unique().shape

(56,)

#### Preprocess data

Remove AK, HI, and territories, and label DC:

In [6]:
states_cases['state_code'] = states_cases['state'].apply(lambda x: name_to_code[x] if x in name_to_code else 'EXCLUDE')
states_cases.loc[states_cases['state'] == 'District of Columbia', 'state_code'] = 'DC'
states_cases.loc[(states_cases['state_code'] == 'HI') | (states_cases['state_code'] == 'AK'), 'state_code'] = 'EXCLUDE'

states_cases.tail()

             date          state  fips   cases  deaths state_code
33489  2021-10-31       Virginia    51  924771   13907         VA
33490  2021-10-31     Washington    53  727820    8686         WA
33491  2021-10-31  West Virginia    54  272532    4426         WV
33492  2021-10-31      Wisconsin    55  882618    9416         WI
33493  2021-10-31        Wyoming    56  102926    1174         WY

In [7]:
states_cases[states_cases['state_code'] == 'EXCLUDE']['state'].unique()

array(['Hawaii', 'Alaska', 'Puerto Rico', 'Virgin Islands', 'Guam',
       'Northern Mariana Islands', 'American Samoa'], dtype=object)

In [8]:
states_cases = states_cases[states_cases['state_code'] != 'EXCLUDE']
states_cases['state'].unique().shape

(49,)

Convert date from string to date type:

In [9]:
states_cases['date'] = pd.to_datetime(states_cases['date'])

In [12]:
states_cases[states_cases['state_code'] == 'MA'].tail()['cases'].diff()

33237       NaN
33293    1584.0
33349    1391.0
33405       0.0
33461       0.0
Name: cases, dtype: float64